<div class="toolbar" role="banner" style="background-color: #198754;">
    <img
      width="40"
      alt="Hahn Logo"
      src="../assets/img/hans_logo.png"
    />
    <span>Hahn UI</span>
      <div class="spacer"></div>
  </div>
  
  <div class="content" role="main">
  
      

    <!-------------------------------- Views   ---------------------->
      <div class="mat-elevation-z8">
        
        <div class="row">
          <div style="float:right">
            <button mat-raised-button (click)="openNewModal()" class="addEmployee2" extended color="warn" style="color:white; background-color: #198754;">Add Employee</button>
            
          </div>
        </div>
        
        <table mat-table  [dataSource]="dataSource">
      
          <mat-form-field  style="width: 50%;">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
          </mat-form-field>

          <ng-container matColumnDef="S/N">
            <th mat-header-cell *matHeaderCellDef> Index </th> 
            <td mat-cell *matCellDef="let element; let i = index;">{{i+1}}</td> 
          </ng-container>

           
      
          <!-- Employee Name Column -->
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>
      
          <!-- Phone Column -->
          <ng-container matColumnDef="Phone">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
            <td mat-cell *matCellDef="let element">{{element.phone}}</td>
          </ng-container>
       
      
          <!-- Amount Column -->
          <ng-container matColumnDef="Salary">
            <th mat-header-cell *matHeaderCellDef> Salary </th>
            <td mat-cell *matCellDef="let element">${{element.salary}}</td>
          </ng-container>
      
          <!-- Email Column -->
          <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
          </ng-container>
  
          <!-- Department Column -->
          <ng-container matColumnDef="Department">
            <th mat-header-cell *matHeaderCellDef> Department </th>
            <td mat-cell *matCellDef="let element">{{element.department}}</td>
          </ng-container>
   
          <!-- Date Created Column -->
          <ng-container matColumnDef="DateCreated">
            <th mat-header-cell *matHeaderCellDef> Date Created </th>
            <td mat-cell *matCellDef="let element">{{element.dateCreated  | date: 'dd MMMM yyyy'}}</td>
          </ng-container>
  
          <ng-container matColumnDef="Actions" >
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element;">
              <button mat-icon-button (click)="onSelected(element)"  (click)="openUpdateModal()">
                <mat-icon  style="color: #198754;">launch</mat-icon>        
              </button>
              <button mat-icon-button (click)="onSelected(element)" (click)="openDeleteModal()">
                <mat-icon style="color: red;">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
  
          <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="8" style="text-align: center;">No data available</td>
      </tr>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]"
                       showFirstLastButtons
                       aria-label="Select page of employees">
        </mat-paginator>
      </div>
    </div>
  
    <!-------------------------------- Update Modal   ---------------------->
    <ng-template #updateModal>
      <h1 mat-dialog-title>Edit Employee Details</h1>
      <div>
            <form [formGroup]="updateForm" autocomplete="off" style="padding-bottom: 40px">
              <div class=""> 
                  <mat-form-field appearance="fill" class="offset mat-form-field">
                      <mat-label>Name</mat-label>
                      <input matInput placeholder="Name" name="name" formControlName="Name" [(ngModel)]="selectedEmployee.name"/> 
                    </mat-form-field>
              </div>
              
              <div class=""> 
                <mat-form-field appearance="fill" class="offset mat-form-field">
                    <mat-label>Email</mat-label>
                    <input  matInput placeholder="Email" formControlName="Email" email="true" [(ngModel)]="selectedEmployee.email"/> 
                  </mat-form-field>
              </div>
              
              <div class=""> 
                <mat-form-field appearance="fill" class="offset mat-form-field">
                    <mat-label>Phone</mat-label>
                    <input  matInput placeholder="Phone" formControlName="Phone" [(ngModel)]="selectedEmployee.phone"
                    onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="11" minlength="11"/> 
                  </mat-form-field>
              </div>
              
              <div class=""> 
                <mat-form-field appearance="fill" class="offset mat-form-field">
                    <mat-label>Salary</mat-label>
                    <input matInput placeholder="Salary" formControlName="Salary" [(ngModel)]="selectedEmployee.salary"
                    onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="11" minlength="11"/> 
                  </mat-form-field>
              </div>
              <div class="">
                  
        
                <mat-form-field appearance="fill" class="offset mat-form-field">
                  <mat-label>Select Department</mat-label>
                  <mat-select formControlName="Department" [(ngModel)]="selectedEmployee.department">
                    <mat-option value=Adminstrative type= "text">Adminstrative</mat-option>
                    <mat-option value=Legal>Legal</mat-option>
                    <mat-option value=Technology>Technology</mat-option>
                    <mat-option value=Support>Support</mat-option>
                    <mat-option value=Business>Business</mat-option>
                    <mat-option value=HR>HR</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
                
              <div class="offset">
                <button mat-fab extended style="color: black;" (click)="closeModal()"> 
                  <mat-icon>cancel</mat-icon>Cancel
                </button>
                <button class="offset" (click)="updateEmployee()" class="addEmployee" mat-fab extended color="green" 
                style="color: white;background-color: #198754; margin-left:20px; "> 
                  <mat-icon>update</mat-icon>Update
                </button>
              </div>
            </form>
          </div>
    </ng-template>

    <!-------------------------------- Delete Modal   ---------------------->
    <ng-template #deleteModal>
      <h1 mat-dialog-title>Are you sure you want to delete?</h1>
      <div>
            <form [formGroup]="updateForm" autocomplete="off">
              <div class="offset">
                <button mat-fab extended style="color: black;" (click)="closeModal()"> 
                  <mat-icon>cancel</mat-icon>No
                </button>
                <button class="offset" (click)="deleteEmployee()" class="addEmployee" mat-fab extended color="green" 
                style="color: white; background-color: #198754; margin-left:20px"> 
                  <mat-icon>delete</mat-icon>Yes
                </button>
              </div>
            </form>
          </div>
    </ng-template>

    <!-------------------------------- Create Modal   ---------------------->
    <ng-template #newModal>
      <h1 mat-dialog-title>Add New Employee</h1>
      <div>
            <form [formGroup]="employeeForm" autocomplete="off" style="padding-bottom: 40px">
              <div class="offset">
                <div>

                  <mat-form-field appearance="fill" class="offset mat-form-field">
                    <mat-label>Enter Employee Name</mat-label>
                    <input matInput placeholder="Name" formControlName="name" type="text">
                  </mat-form-field>


                </div>
                <div>
                  
                <mat-form-field appearance="fill" class="offset mat-form-field">
                  <mat-label>Enter Email</mat-label>
                  <input matInput placeholder="Email" email="true" formControlName="email" type="text">
                </mat-form-field>

                  
                </div>
                <div>
                  
                <mat-form-field appearance="fill" class="offset mat-form-field">
                  <mat-label>Enter Phone</mat-label>
                  <input matInput placeholder="Phone" formControlName="phone" type="text"
                  onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                     maxlength="11" minlength="11">
                </mat-form-field>

                  
                </div>
                <div>
                  
                <mat-form-field appearance="fill" class="offset mat-form-field">
                  <mat-label>Enter Salary</mat-label>
                  <input matInput placeholder="Salary" formControlName="salary" type="text"
                  onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                </mat-form-field>

                  
                </div> 
                <div>
                  
        
                  <mat-form-field appearance="fill" class="offset mat-form-field">
                    <mat-label>Select Department</mat-label>
                    <mat-select formControlName="department">
                      <mat-option value=Adminstrative type= "text">Adminstrative</mat-option>
                      <mat-option value=Legal>Legal</mat-option>
                      <mat-option value=Technology>Technology</mat-option>
                      <mat-option value=HR>HR</mat-option>
                      <mat-option value=Support>Support</mat-option>
                      <mat-option value=Business>Business</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                  
     
            </div> 
    
            <div class="offset">
              <div class="row" style="margin-left:35px">

                <button (click)="closeModal()" class="addEmployee" mat-fab extended style="color: black;"> 
                  <mat-icon>cancel</mat-icon>Cancel
                </button>
                <button class="addEmployee" (click)="createEmployee()" mat-fab extended color="primary" 
                style="color: white; background-color: #198754; margin-left:20px"> 
                  <mat-icon>save</mat-icon>Save
                </button>

              </div>
              
            </div>
            </form>
          </div>
    </ng-template>